body {
  background: #262626;
  font-family: Arial, sans-serif;
  min-width: 1200px;
}
a {
  text-decoration: none;
}
.header {
  border: 1px solid #000;
  height: 100px;
  background: #1d1d1d;
  box-shadow: 0px 0px 1px 1px;
  margin: 10px;
  margin-top: 15px;
  position: relative;
}
.container {
  height: 500px;
  margin-top: 10px;
  position: relative;
  padding: 0 330px;
  padding-right: 266px;
  margin: 10px;
}
.conleft {
  box-shadow: 0px 0px 1px 1px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 320px;
  height: inherit;
  background: #1d1d1d;
  border: 1px solid #000;
}
.conright {
  box-shadow: 0px 0px 1px 1px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 256px;
  height: inherit;
  background: #1d1d1d;
  border: 1px solid #000;
}
.middle {
  background: #000;
  height: inherit;
}
.logo {
  background: url(logo.png) no-repeat;
  width: 162px;
  height: 87px;
  background-size: 162px;
  position: absolute;
  top: 7px;
  left: 74px;
}
.menu {
  padding: 0px 330px;
  height: 100px;
  padding-right: 266px;
}
.menu > .dib {
  margin-top: 30px;
}
.type {
  color: #ecb41b;
  -webkit-text-stroke: 2px #000;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  background: #515151;
  padding: 5px 7px;
  border: 1px solid #000;
}
.type:hover,
.typeactive {
  background: #00785d;
  cursor: pointer;
}
.controller {
  position: absolute;
  right: 26px;
  top: 14px;
  width: 216px;
}
.conname {
  color: #ecb41b;
  font-weight: bold;
}
.bpmval {
  color: #ff0000;
  width: 80px;
  height: 28px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-left: 45px;
  background: #000000;
  border-radius: 5px;
}
.bpm {
  margin-bottom: 18px;
}
.totalvoice {
  margin-top: 40px;
  margin-left: 18px;
}
.source {
  height: 42px;
  width: 45px;
  background-color: #ecb41b;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-left: 15px;
  color: #000;
  font-weight: bold;
  position: relative;
  box-shadow: 0px 1px 0px #bd9f00, 0px 5px 0px 0px #5e5000;
}
/*.source:active,*/
.sourceaction {
  top: 3px;
  background: #026b53;
  box-shadow: none;
  -moz-animation: pulsate 2s ease-in infinite;
  -webkit-animation: pulsate 2s ease-in infinite;
  animation: pulsate 2s ease-in infinite;
}
.track {
  height: 40px;
  width: 40px;
  border: 1px solid #000;
  background-color: #262626;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-left: 25px;
  color: #000;
  font-weight: bold;
}
.effects {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 1px solid #000;
  background-color: #262626;
}
.effects canvas{
    margin: 14px;
}
.conleft .cf {
  height: 50px;
  margin-top: 10px;
}
.leftvoice {
  margin: 22px 16px;
}
.fxtitle {
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.conright .justify {
  padding: 0px 15px;
}
.conright .justify .dib {
  margin-bottom: 40px;
  position: relative;
}
.fxHI,
.fxMID,
.fxLOW,
.fxFLITER,
.fxDELAY,
.fxREVERB,
.fxSUTTER {
  position: absolute;
  left: 50%;
  bottom: -71px;
  color: #fff;
  font-size: 18px;
  margin-left: -9px;
}
.fxMID {
  margin-left: -16px;
}
.fxLOW {
  margin-left: -20px;
}
.fxFLITER {
  margin-left: -31px;
}
.fxDELAY {
  margin-left: -30px;
}
.fxREVERB {
  margin-left: -37px;
}
.fxSUTTER {
  margin-left: -35px;
}
.changev {
  float: left;
  margin-left: 20px;
  margin-top: 22px;
}
.gourd span {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  background: #996300;
  width: 5em;
  height: 5em;
  margin-top: 12em;
  margin-left: 18em;
  -moz-animation: pulsate 2s ease-in infinite;
  -webkit-animation: pulsate 2s ease-in infinite;
  animation: pulsate 2s ease-in infinite;
}
@keyframes pulsate {
  0%, 100% {
    background: rgba(2, 107, 83, 0.38);
    -moz-box-shadow: 0 0 0 0 rgba(2, 107, 83, 0.75);
    -webkit-box-shadow: 0 0 0 0 rgba(2, 107, 83, 0.75);
    box-shadow: 0 0 0 0 rgba(2, 107, 83, 0.75);
  }
  50% {
    background: rgba(2, 107, 83, 0.88);
    -moz-box-shadow: 0 0 3em 1em rgba(2, 107, 83, 0.75);
    -webkit-box-shadow: 0 0 3em 1em rgba(2, 107, 83, 0.75);
    box-shadow: 0 0 3em 1em rgba(2, 107, 83, 0.75);
  }
}

.webmidi {
  padding: 5px;
}
